html,body {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(images/coffee.jpg);
  background-size: cover;
  bacground-position: center;
  height:100vh;
  position: relative;
  
  
}

.nav-link {
  flex: 1;
  text-align: right;
  background-ima
}

ul li {
  list-style: none;
  display: inline;
  padding: 8px 12px;
  position: relative;
  flex: 1;
  text-align: left;
}

li a {
 color: #fff;
 text-decoration: none;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 40px;
 
}

p {
  font-size: 20px;
  color: #fff;
}



a {
  margin-right: ;
  margin-top: 170px;
  text-decoration: none;
  color: #fff;
  }

a:hover {
  color: blue;
}
